name = "helm"
description = "The Kubernetes package manager"

[[options]]
short = "-n"
long = "--namespace"
takes_arg = true
description = "Kubernetes namespace"

[[options]]
long = "--kube-context"
takes_arg = true
description = "Kubernetes context"

[[subcommands]]
name = "install"
description = "Install a chart"

  [[subcommands.options]]
  short = "-f"
  long = "--values"
  takes_arg = true
  description = "Specify values YAML file"

  [[subcommands.options]]
  long = "--set"
  takes_arg = true
  description = "Set values on the command line"

  [[subcommands.options]]
  long = "--dry-run"
  description = "Simulate an install"

  [[subcommands.options]]
  long = "--wait"
  description = "Wait until all resources are ready"

  [[subcommands.options]]
  long = "--create-namespace"
  description = "Create the release namespace if not present"

  [[subcommands.options]]
  long = "--version"
  takes_arg = true
  description = "Specify chart version"

  [[subcommands.args]]
  name = "release"

[[subcommands]]
name = "upgrade"
description = "Upgrade a release"

  [[subcommands.options]]
  short = "-f"
  long = "--values"
  takes_arg = true
  description = "Specify values YAML file"

  [[subcommands.options]]
  long = "--set"
  takes_arg = true
  description = "Set values on the command line"

  [[subcommands.options]]
  long = "--install"
  short = "-i"
  description = "Run install if release does not exist"

  [[subcommands.options]]
  long = "--dry-run"
  description = "Simulate an upgrade"

  [[subcommands.options]]
  long = "--wait"
  description = "Wait until all resources are ready"

  [[subcommands.options]]
  long = "--version"
  takes_arg = true
  description = "Specify chart version"

  [[subcommands.args]]
  name = "release"
  [subcommands.args.generator]
  command = "helm list -q 2>/dev/null"
  cache_ttl_secs = 30

[[subcommands]]
name = "uninstall"
aliases = ["delete", "del"]
description = "Uninstall a release"

  [[subcommands.options]]
  long = "--dry-run"
  description = "Simulate an uninstall"

  [[subcommands.options]]
  long = "--keep-history"
  description = "Remove all associated resources but keep release history"

  [[subcommands.args]]
  name = "release"
  variadic = true
  [subcommands.args.generator]
  command = "helm list -q 2>/dev/null"
  cache_ttl_secs = 30

[[subcommands]]
name = "list"
aliases = ["ls"]
description = "List releases"

  [[subcommands.options]]
  short = "-a"
  long = "--all"
  description = "Show all releases"

  [[subcommands.options]]
  short = "-q"
  description = "Output only release names"

  [[subcommands.options]]
  short = "-A"
  long = "--all-namespaces"
  description = "List across all namespaces"

[[subcommands]]
name = "repo"
description = "Manage chart repositories"

  [[subcommands.subcommands]]
  name = "add"
  description = "Add a chart repository"

  [[subcommands.subcommands]]
  name = "remove"
  description = "Remove a chart repository"

    [[subcommands.subcommands.args]]
    name = "name"
    [subcommands.subcommands.args.generator]
    command = "helm repo list -o json 2>/dev/null | jq -r '.[].name' 2>/dev/null"
    cache_ttl_secs = 30

  [[subcommands.subcommands]]
  name = "update"
  description = "Update chart repositories"

  [[subcommands.subcommands]]
  name = "list"
  description = "List chart repositories"

[[subcommands]]
name = "search"
description = "Search for a keyword in charts"

  [[subcommands.subcommands]]
  name = "repo"
  description = "Search repositories"

    [[subcommands.subcommands.args]]
    name = "keyword"

  [[subcommands.subcommands]]
  name = "hub"
  description = "Search the Artifact Hub"

    [[subcommands.subcommands.args]]
    name = "keyword"

[[subcommands]]
name = "status"
description = "Display the status of a release"

  [[subcommands.args]]
  name = "release"
  [subcommands.args.generator]
  command = "helm list -q 2>/dev/null"
  cache_ttl_secs = 30

[[subcommands]]
name = "history"
description = "Fetch release history"

  [[subcommands.args]]
  name = "release"
  [subcommands.args.generator]
  command = "helm list -q 2>/dev/null"
  cache_ttl_secs = 30

[[subcommands]]
name = "rollback"
description = "Roll back a release to a previous revision"

  [[subcommands.args]]
  name = "release"
  [subcommands.args.generator]
  command = "helm list -q 2>/dev/null"
  cache_ttl_secs = 30

[[subcommands]]
name = "template"
description = "Locally render templates"

  [[subcommands.options]]
  short = "-f"
  long = "--values"
  takes_arg = true
  description = "Specify values YAML file"

  [[subcommands.options]]
  long = "--set"
  takes_arg = true
  description = "Set values on the command line"

  [[subcommands.args]]
  name = "release"

[[subcommands]]
name = "show"
aliases = ["inspect"]
description = "Show information of a chart"

  [[subcommands.subcommands]]
  name = "values"
  description = "Show chart values"

  [[subcommands.subcommands]]
  name = "chart"
  description = "Show chart definition"

  [[subcommands.subcommands]]
  name = "readme"
  description = "Show chart README"

  [[subcommands.subcommands]]
  name = "all"
  description = "Show all chart information"
